#Footer{
	position: relative;
    padding-top: 0.644rem;
    padding-bottom: .32rem;
    background-color: #f4f4f4
}
.foop{
	font-size: .20467rem;
    color: #999;
    line-height: .366533rem;
    text-align: center;
}